
* {


}

body {

    width: 100%;
    min-height: 100vh;
    
}

.input {

    width: 600px;
    height: 200px;
    transition: 1s;
    
}

.input.vermelho {

    background: crimson;

}

.input.active {

    background: green;
}